header{
    background-image:url(./mainBc.jpg); width: 1800px; height: 800px;
}
h1{
    padding-left: 140px;
    padding-top: 180px;
}
h6{
    padding-left: 140px;
}
button{
    background-color: rgb(207, 34, 63); color: white;
}
nav{
    background-image: url(./mainBc2.jpg);width: 2000px; height: 1200px;
}
h1{
     
}